{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Review - Practical Packet Analysis: Using Wireshark to Solve Real-World Network Problems</title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- CSS only -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <!-- JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static "fonts/guardian-headline/latin1-not-hinted/fonts.css" %}">
  <link rel="stylesheet" href="{% static "fonts/guardian-textegyptian/latin1-not-hinted/fonts.css" %}">
  <link rel="stylesheet" href="{% static "fonts/guardian-textsans/latin1-not-hinted/fonts.css" %}">

  <style>
  @media (max-width:1000px){
    .hid{
      visibility:hidden;
    }
    .tit{
      font-size:14px;
    }
    .aut{
      height:auto !important;
    }
    .autot{
      font-size:25px !important;
    }
    .ayi{
      font-size:1rem !important;
    }
    .wua{
      font-size:0.70rem !important;
    }
    .alibaba{
      height:40px !important;
    }
  }

  </style>


</head>

<body>
  <div style="background-color:#fff;width:100%;height:65px;border-bottom:3px solid #ddd;position:fixed;z-index:2;">
    <div class="container" style="font-family:GH Guardian Headline,Guardian Egyptian Web,Georgia,serif;font-size:1.25rem;line-height:1.15;font-weight:300;display:flex;position:absolute;top:50%;-ms-transform:translateY(-50%);transform:translateY(-50%);">
      
      <div>
        <a class="navbar-brand" href="{% url "index" %}" style="color:#a1845c;font-weight:600;" >
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-diamond" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"/>
          <path fill-rule="evenodd" d="M8.361 1.17a.51.51 0 0 0-.722 0L4.766 4.044 8 7.278l3.234-3.234L8.361 1.17zm3.595 3.596L8.722 8l3.234 3.234 2.873-2.873c.2-.2.2-.523 0-.722l-2.873-2.873zm-.722 7.19L8 8.722l-3.234 3.234 2.873 2.873c.2.2.523.2.722 0l2.873-2.873zm-7.19-.722L7.278 8 4.044 4.766 1.17 7.639a.511.511 0 0 0 0 .722l2.874 2.873zM6.917.45a1.531 1.531 0 0 1 2.166 0l6.469 6.468a1.532 1.532 0 0 1 0 2.166l-6.47 6.469a1.532 1.532 0 0 1-2.165 0L.45 9.082a1.531 1.531 0 0 1 0-2.165L6.917.45z"/>
        </svg>
        Kadel
      </a>
      </div>

    <div class="tit">Practical Packet Analysis: Using Wireshark to Solve Real-World Network Problems
    </div>

    </div>

  </div>
  <img  style="height:300px !important;width:100vw;" src="https://web-assets.bcg.com/dims4/default/793a66a/2147483647/strip/true/crop/2880x597+0+511/resize/3000x622!/quality/90/?url=http%3A%2F%2Fboston-consulting-group-brightspot.s3.amazonaws.com%2Fa7%2F00%2Ff7f04b8b41909893bdf39cd54d35%2Fa-2-trillion-plan-to-bring-two-billion-more-people-into-the-digital-age-rectangle.jpg" class="alibaba">
  <div class="container col-lg-8">
    <div class="row">


      <div class="col-lg-2" style="border-left:1px solid #dcdcdc;" class="aut">
        <div style="border-top:1px solid #dcdcdc;height:150px;" class="aut">
          <h5 style="font-family:GH Guardian Headline,Guardian Egyptian Web,Georgia,serif;font-weight:700;color:#a1845c;padding-top:5px;">Review</h5>
        </div>
        <div style="border-top:1px solid #dcdcdc;">
          <h5 style="font-family:GH Guardian Headline,Guardian Egyptian Web,Georgia,serif;line-height:1.15;font-weight:500;color:#a1845c;font-style:italic;" class="ayi">Technical</h5>
          <p style="font-family:GuardianTextSans,Guardian Text Sans Web,Helvetica Neue;line-height:1.5;font-weight:400;color:#767676;font-size:0.75rem;">Sat 4 Sep 2020 09:23 PET</p>
        </div>
        
        <div style="border-top:1px solid #dcdcdc;fill:#a1845c;">
          <svg width="32" height="32" viewBox="-2 -2 32 32"><path d="M17.9 14h-3v8H12v-8h-2v-2.9h2V8.7C12 6.8 13.1 5 16 5c1.2 0 2 .1 2 .1v3h-1.8c-1 0-1.2.5-1.2 1.3v1.8h3l-.1 2.8z"></path></svg>
          <svg width="32" height="32" viewBox="-2 -2 32 32"><path d="M21.3 10.5v.5c0 4.7-3.5 10.1-9.9 10.1-2 0-3.8-.6-5.3-1.6.3 0 .6.1.8.1 1.6 0 3.1-.6 4.3-1.5-1.5 0-2.8-1-3.3-2.4.2 0 .4.1.7.1l.9-.1c-1.6-.3-2.8-1.8-2.8-3.5.5.3 1 .4 1.6.4-.9-.6-1.6-1.7-1.6-2.9 0-.6.2-1.3.5-1.8 1.7 2.1 4.3 3.6 7.2 3.7-.1-.3-.1-.5-.1-.8 0-2 1.6-3.5 3.5-3.5 1 0 1.9.4 2.5 1.1.8-.1 1.5-.4 2.2-.8-.3.8-.8 1.5-1.5 1.9.7-.1 1.4-.3 2-.5-.4.4-1 1-1.7 1.5z"></path></svg>
          <svg width="32" height="32" viewBox="0 0 32 32"><path d="M23.363 20.875H8.637v-8.938l6.545 5.687h1.637l6.544-5.687v8.938zm-1.635-9.75L16 16l-5.728-4.875h11.456zM23.363 9.5H8.637L7 11.125v9.75L8.637 22.5h14.727L25 20.875v-9.75L23.363 9.5z"></path></svg>

        </div>
      </div>


      <div class="col-lg-6" style="border:1px solid #dcdcdc;height:500px;">
        <div><h2 style="font-family:GH Guardian Headline;font-size:2.125rem;line-height:1.15;font-weight:700;color:#6b5840;padding-top:7px;" class="autot">Practical Packet Analysis.</h2>
        </div>
        <div><p style="font-family:GH Guardian Headline,Guardian Egyptian Web,Georgia,serif;font-size:1.25rem;line-height:1.15;font-weight:300;" class="ayi">Using Wireshark to solve real-world network problems</p>

            <img src="{% static "/images/wireshark.png" %}" width=100%>
        </div>

        <div>
          <figcaption style="font-family:GuardianTextSans,Guardian Text Sans Web;font-size:0.75rem;font-weight:400;color:#767676;" class="wua">"An essential book if you are responsible for network administration on any level"
          </figcaption>
        </div>
        <div style="font-family:GuardianTextEgyptian, Guardian Text Egyptian Web;line-height:1.5;font-weight:400;">
        <p><span style="font-family:GH Guardian Headline,Guardian Egyptian Web;font-size:109px;line-height:90px;font-weight:700;color:#6b5840;float:left;">F
        </span>or someone who is already familiar with the concepts of networking, this is a perfect book, the book focuses on packet capture use cases, and of course it guides you through the analysis, also you can download all the .pcap from the offical page.</p>
        <p>The book indeed is very simple, easy to read, the way the author tell some story at the beggining of each chapter make it more pleasant to read it.</p>
        <p>The book guide you from the begginings going through some installation process until the real world scenarios, with brief explanations and getting deep, not so deep in some chapters, like chapter 6: Packet Analysis on the Command Line, I'm not sure if does it justice to this amazing field about tcpdump and tshark.</p>
        <p>But I really enjoyed the part where Chris explains the reason for each case of tapping, as well the advantages and disadvantages, I was wanting more, obviously later I looked for more information</p>
        <p>Also 3 chapters were dedicated entirely, of brief explanations about network, transport and application layers and some of more important protocols from this layers, meanwhile he explains what's happening in the packet capture, although sometimes one would like that he go deeper.</p>
        <p>But what is most amazing of this book, is the real world scenarios and the chapter of the ever-existing "troubleshooting".</p>
        <p>There is also, I must to add, a joke that Chriss does, was he talking about an eight layer error, the first time I read it, I just was blowminded because I never heard about a such layer 8 in OSI model,I just thought it was a typo, but turn out he meant a user error.In my defense, it was the first time I heard it.</p>
        <img src="https://pics.me.me/its-broken-idont-know-howl-osi-model-laver-8-identify-41884000.png" width=80% style="display:block;margin:auto;">
        <p>As a whole, the book is simple amazing becasuse it's not a just a documentation of a tool, is more of an explanation of the whys and its possible solutions. It's highly recommend to understand and analyze network traffic.</p>

      </div>
      </div>

      <div class="col-lg-4 hid" style="border-right:1px solid #dcdcdc;height:500px;margin-top:24px;margin-bottom:24px;">
        <h3 style="font-family:GH Guardian Headline;font-size:1.06rem;line-height:1.15;font-weight:700;">Other Posts</h3>

        <div style="display:flex;border-top:1px solid #dcdcdc;margin-bottom:12px;">
          <div  style="border-radius:100%;">
            <img style="border-radius:100%;width:70px !important;height:70px !important;margin-right:10px;" src="https://i.guim.co.uk/img/media/a95003e1189f4f4727ff31fc06ebec329a8d5be4/0_0_6150_3691/master/6150.jpg?width=300&quality=85&auto=format&fit=max&s=1e4cba80852f3d3be5b571293eb13d08" width=100% height=100>
          </div>
          <div style="position:relative;">
            <a style="color:rgb(18,18,18);font-family:GH Guardian Headline;font-size:1.0625rem;line-height:1.15;font-weight:500;">Shock and sorrow as Canada's biggest co-op sold to US private equity firm</a>
          </div>
        </div>

<div style="display:flex;border-top:1px solid #dcdcdc;margin-bottom:12px;">
          <div  style="border-radius:100%;">
            <img style="border-radius:100%;width:70px !important;height:70px !important;margin-right:10px;" src="https://i.guim.co.uk/img/media/a95003e1189f4f4727ff31fc06ebec329a8d5be4/0_0_6150_3691/master/6150.jpg?width=300&quality=85&auto=format&fit=max&s=1e4cba80852f3d3be5b571293eb13d08" width=100% height=100>
          </div>
          <div style="position:relative;">
            <a style="color:rgb(18,18,18);font-family:GH Guardian Headline;font-size:1.0625rem;line-height:1.15;font-weight:500;">Shock and sorrow as Canada's biggest co-op sold to US private equity firm</a>
          </div>
        </div>


        <div style="display:flex;border-top:1px solid #dcdcdc;margin-bottom:12px;">
          <div  style="border-radius:100%;">
            <img style="border-radius:100%;width:70px !important;height:70px !important;margin-right:10px;" src="https://i.guim.co.uk/img/media/a95003e1189f4f4727ff31fc06ebec329a8d5be4/0_0_6150_3691/master/6150.jpg?width=300&quality=85&auto=format&fit=max&s=1e4cba80852f3d3be5b571293eb13d08" width=100% height=100>
          </div>
          <div style="position:relative;">
            <a style="color:rgb(18,18,18);font-family:GH Guardian Headline;font-size:1.0625rem;line-height:1.15;font-weight:500;">Shock and sorrow as Canada's biggest co-op sold to US private equity firm</a>
          </div>
        </div>


        <div style="display:flex;border-top:1px solid #dcdcdc;margin-bottom:12px;">
          <div  style="border-radius:100%;">
            <img style="border-radius:100%;width:70px !important;height:70px !important;margin-right:10px;" src="https://i.guim.co.uk/img/media/a95003e1189f4f4727ff31fc06ebec329a8d5be4/0_0_6150_3691/master/6150.jpg?width=300&quality=85&auto=format&fit=max&s=1e4cba80852f3d3be5b571293eb13d08" width=100% height=100>
          </div>
          <div style="position:relative;">
            <a style="color:rgb(18,18,18);font-family:GH Guardian Headline;font-size:1.0625rem;line-height:1.15;font-weight:500;">Shock and sorrow as Canada's biggest co-op sold to US private equity firm</a>
          </div>
        </div>


        <div style="display:flex;border-top:1px solid #dcdcdc;margin-bottom:12px;">
          <div  style="border-radius:100%;">
            <img style="border-radius:100%;width:70px !important;height:70px !important;margin-right:10px;" src="https://i.guim.co.uk/img/media/a95003e1189f4f4727ff31fc06ebec329a8d5be4/0_0_6150_3691/master/6150.jpg?width=300&quality=85&auto=format&fit=max&s=1e4cba80852f3d3be5b571293eb13d08" width=100% height=100>
          </div>
          <div style="position:relative;">
            <a style="color:rgb(18,18,18);font-family:GH Guardian Headline;font-size:1.0625rem;line-height:1.15;font-weight:500;">Shock and sorrow as Canada's biggest co-op sold to US private equity firm</a>
          </div>
        </div>


      </div>

  </div>
  </div>
</body>
